.testHeader {
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto 18px;
  overflow: hidden;
  text-align: center;
  word-spacing: 10px;
  font-size: xlarge;
  font-weight: 500;
  color: white;
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  /* height: 5rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: black;
}

.shoppingCart {
  display: inline-block;
  font-size: 20px;
  color: grey;
  margin-right: 15px;
  text-align: right;
}
.testHeader a:hover,
.testHeader a:active,
.testHeader a.active {
  color: white;
  padding-bottom: 0.25rem;

  background-color: lightseagreen;
}

.testHeader a {
  color: lightgray;
  text-decoration: none;
  height: 100%;
  padding: 5px 15px;
}

.shoppingCart :hover {
  color: whitesmoke;
  border-color: greenyellow;
  background-color: maroon;
}

.btn {
  background-color: lightgreen;
  height: 100%;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:active,
.btn:hover {
  background-color: lightseagreen;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
